/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:where(.glaser-toggle-light-dark .wp-element-button) {
	cursor: pointer;

	&::after {
		content: "";
		display: inline-block;
        font-size: var(--wp--preset--font-size--xx-large);
		transform: rotate(-45deg);
		transition: all 0.3s ease-in-out;

		:root[data-color-scheme="light"] & {
			content: '☾';
		}
		:root[data-color-scheme="dark"] & {
			content: '☼';
		}

	}
	&:hover {
		&::after {
			transform: rotate(0);
		}
	}
}
